/* button class attributes */

.btn {
    width: 100%;
    text-align: center;
    margin: 20px;
}


/* button attributes */

button {
    background-color: #4a64b9;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    padding: 10px 15px;
    border: 1px solid;
}

button:hover {
    background-color: #303f6e;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}